/* external hosting for styling HU content*/

.fleximg {
	width: 45%;
	max-width: 300px;
	padding-left: 1.5em;
	float: right;
	display: block;
}

.flexp {
	width: 55%;
} 
.sectionContainer {
	overflow: auto
}

/* Tiles */

	.tiles {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
		padding: 0 0 ;
		margin: 0;
	}

		.tiles article {
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			position: relative;			
			height: fit-content;
			width: calc(50% - 2.5em);
			padding: 0.6em 0.6em;
		}
			.tiles article > .image {
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				position: relative;
				display: block;
				width: 80%;
				margin: auto;
				border-radius: 4px;
				overflow: hidden;
/* 				height: 100% */
			}

				.tiles article > .image img {
					display: block;
					width: 100%;
/* 					height: 100% */
				}
				.tiles article > .image:before {
					pointer-events: none;
					-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
					-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
					-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
					transition: background-color 0.5s ease, opacity 0.5s ease;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 1.0;
					z-index: 1;
					opacity: 0.8;
				}

				.tiles article > .image:after {
					pointer-events: none;
					-moz-transition: opacity 0.5s ease;
					-webkit-transition: opacity 0.5s ease;
					-ms-transition: opacity 0.5s ease;
					transition: opacity 0.5s ease;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-size: 100% 100%;
					opacity: 0.25;
					z-index: 2;
				}
			.tiles article > a {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
				-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
				-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
				transition: background-color 0.5s ease, transform 0.5s ease;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 1em;
				border-radius: 4px;
				border-bottom: 0;
				color: #ffffff;
				text-align: center;
				text-decoration: none;
				z-index: 3;
			}
				.tiles article > a > :last-child {
					margin: 0;
				}

				.tiles article > a:hover {
					color: #ffffff !important;
				}

				.tiles article > a h2 {
					margin: 0;
					padding-top: 0;
					line-height: 1.3;
					color: rgb(255,255,255);
				}
				.tiles article > .content {
					margin-top: 2em;
					padding: 0 10%;
				}

			body:not(.is-touch) .tiles article:hover > .image {
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}

				body:not(.is-touch) .tiles article:hover > .image:before {
					background-color: #333333;
					opacity: 0.35;
				}

				body:not(.is-touch) .tiles article:hover > .image:after {
					opacity: 0;
				}

			body:not(.is-touch) .tiles article:hover .content {
				max-height: 15em;
				opacity: 1;
			}
/* 
		* + .tiles {
			margin-top: 2em;
		} */

		body.is-preload .tiles article {
			-moz-transform: scale(0.9);
			-webkit-transform: scale(0.9);
			-ms-transform: scale(0.9);
			transform: scale(0.9);
			opacity: 0;
		}

		body.is-touch .tiles article .content {
			max-height: 15em;
			opacity: 1;
		}
/* 
			.tiles article.style1 > .image:before {
				background-color: #84cff2;
			} */

@media screen and (max-width: 980px) {
	.fleximg {
		width: 35%;
	}
	.flexp {
		width: 65%;
	} 
	
	.tiles {
		margin: 0;
		/* margin: -2.5em 0 0 -2.5em; */
		}

		.tiles article {
			width: calc(50% - 2.5em);
			margin: 2.5em 0 0 2.5em;
			}
}


@media screen and (max-width: 736px) {
	.fleximg {		
		width: 100%;
		float: none;
		padding-bottom: 1.5em;
		margin: auto;
	}
	.flexp {
		width: 100%;
	} 
	
	.tiles {
	margin: 0;
	/* margin: -1.25em 0 0 -1.25em; */
	}

	.tiles article {
		width: calc(100% - 1.25em);
		margin: 1.25em 0 0 1.25em;
		}

		.tiles article:hover > .image {
			-moz-transform: scale(1.0);
			-webkit-transform: scale(1.0);
			-ms-transform: scale(1.0);
			transform: scale(1.0);
			}
}


